/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.eth div.panel {
    height: 240px;
}
.eth {
    height: 250px;
}
.main-container.container {
    padding-top: 60px;
}
#admin-menu {
    z-index: 10051;
}
